{% extends 'mainpage.html' %} {% load static %}

{% block content %}
<a href="{% url "products" %}">Back</a>
<div class="col-lg-4 col-md-4 all dev">
  <div class="product-item">
    <a href="#"><img src="{{product.image.url}}" alt="" /></a>
    <div class="down-content">
      <h4>{{product.name}}</h4>
      <h6>{{product.price}}</h6>
      <p>
        {{product.description}}
      </p>
      <ul class="stars">
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
        <li><i class="fa fa-star"></i></li>
      </ul>
      <span>Reviews (24)</span>
      <form action="{% url 'add_to_cart' product.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Add to Cart</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
