{% extends 'mainpage.html' %} {% load static %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static "store/css/test.css" %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock head %}

{% block title %}{{product.name}}{% endblock title %}

{% block content %}

 <section>
    <div class="card">
      <div class="card__title">
        <div class="icon">
          <a href="{% url "products" %}"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>{{product.category}}</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
            <h1>MERCH</h1>
            <p class="sub">{{product.name}}</p>
            <p class="price">${{product.price}}</p>
          </div>
          <div class="image">
            <img src="{{product.image.url}}" alt="">
          </div>
        </div>
        <div class="half">
          <div class="description">
            <p>{{product.long_description}}</p>
          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <div class="quantity_selector">
              <div class="quantity_container">
                <button class="minusBtn" id="minus-btn"><i class="material-icons">remove</i></button>
                <input type="number" class="input-box" id="quantity" value="1" min="1" max="10">
                <button class="addBtn" id="add-btn"><i class="material-icons">add</i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Produced by</p>
          <h3>Matt Westlake</h3>
        </div>
        <div class="action">
          <form action="{% url 'add_to_cart' product.id %}" method="post">
        	  {% csrf_token %}
			      <input type="hidden" name="JStoPython" value="1" id="form-quantity">
        	  <button type="submit" class="buy--btn">ADD TO CART</button>
      	  </form>
        </div>
      </div>
    </div>
  </section>


{% endblock %}