{% extends 'mainpage.html' %}
{% load static %}

{% block title %}Our Products{% endblock title %}

{% block content %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-006S879W2R"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-006S879W2R');
    </script>

    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>new arrivals</h4>
              <h2>Merch 'N Gear</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters">
              <ul>
                  <li class="active" data-filter="*">All Products</li>
                  <li data-filter=".des">Clothing</li>
                  <li data-filter=".dev">Equipment</li>
                  <li data-filter=".gra">On Sale</li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="filters-content">
                <div class="row grid">
                    {% for product in products %}
                    <div class="col-lg-4 col-md-4 all dev">
                      <div class="product-item">
                        {% if product.image %}
                          <img src="{{ product.image.url }}" alt="">
                        {% else %}
                          <img src="{% static 'images/default_product.png' %}" alt="Default Product">
                        {% endif %}
                        <div class="down-content">
                          <a href="{% url "product_detail" product.id %}"><h4>{{product.name}}</h4></a>
                          <h6>${{product.price}}</h6>
                          <p>{{product.short_description}}</p>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
          </div>
          <div class="col-md-12">
            <ul class="pages">
              {% if products.has_previous %}
              <li><a href="?page=1"><i class="fa fa-angle-double-left"></i></a></li>
              <li><a href="?page={{products.previous_page_number}}"><i class="fa fa-angle-left"></i></a></li>
              <a href="?page={{products.previous_page_number}}"></a>
              {% endif %}
              <li><a href="?page=1">1</a></li>
              <li><a href="?page=2">2</a></li>

              {% if products.has_next %}
              <li><a href="?page={{products.next_page_number}}"><i class="fa fa-angle-right"></i></a></li>
              <li><a href="?page={{products.paginator.num_pages}}"><i class="fa fa-angle-double-right"></i></a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>

{% endblock%}


