{% extends 'root.html' %}
{% load static %}
{% block content %}
  {% if error_message %}
    <div class="error-message">
      <h2>Access Denied</h2>
      <p>{{ error_message }}</p>
    </div>
  {% else %}
      <div class="dashboard-nav-buttons d-flex flex-wrap justify-content-center gap-2 mb-3">
        <a href="{% url 'upcoming_events' class_id=class_obj.id %}" class="btn custom-btn-red"><i class="fa-solid fa-clock icon-spacing"></i>Upcoming Sessions</a>
        <a href="{% url 'class_dashboard' class_id=class_obj.id %}" class="btn custom-btn-red"><i class="fa-solid fa-arrow-left icon-spacing"></i></i>Go Back to Dashboard</a>
        <a href="{% url 'chat_room' class_obj.id %}" class="btn custom-btn-red"><i class="fa-solid fa-comments icon-spacing"></i>Chat Room</a>
      </div>
    

      <div class="main-content">
        <div class="class-info-dashboard-heading">
          <h1>Class Name: {{ class_obj.name }}</h1>
          <h3>Coach: {{ class_obj.coach.first_name }} {{ class_obj.coach.last_name }}</h3>
          {% if class_obj.coach.profile %}
            <img src="{{ class_obj.coach.profile.image.url }}" alt="Coach Profile Picture" class="coach-profile-image">
          {% else %}
            <img src="{% static 'default.jpg' %}" alt="Default Profile Picture" class="coach-profile-image">
          {% endif %}
          <p>Email: {{ class_obj.coach.email|default:"N/A" }}</p>
        </div>

        <h3>Past Sessions</h3>
        <div class="past-sessions-list">
          {% for event in past_events %}
            <div class="session-item">
              <h4>{{ event.title }}</h4>
              <p><strong>Description:</strong> {{ event.description }}</p>
              <p><strong>Start:</strong> {{ event.start_date|date:"F j, Y, g:i a" }}</p>
              <p><strong>End:</strong> {{ event.end_date|date:"F j, Y, g:i a" }}</p>
              {% if event.status == "completed" %}
                <p><span class="text-success">Session Completed</span></p>
              {% else %}
                <p><span class="text-warning">Session Pending</span></p>
              {% endif %}
            </div>
          {% empty %}
            <p>No past sessions available.</p>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}