
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Password Complete</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'store/css/forgotpass.css' %}" />
</head>
<body>
  <div class="forgotpass-wrapper">
    <div class="password-done-box">
      <img class="password-done-image" src="{% static 'store/images/Westletics_logo.png' %}" alt="Logo" />
      <p class="password-done-text">
        <i class="fa-solid fa-circle-check" style="color: green; font-size: 24px;"></i><br />
        Your password has been set successfully.
      </p>
      <p class="password-done-text">
        You may now <a href="{% url 'register' %}" style="color: #CA152C; font-weight: bold;">log in</a> to your account.
      </p>
    </div>
  </div>
</body>
</html>

    