
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Forgot Password</title>

  <link rel="stylesheet" href="{% static 'store/css/forgotpass.css' %}" />
</head>
<body>
  <div class="fp-container">
    <div class="fp-card">
      <h3 class="fp-title">Forgot Your Password?</h3>
      <p class="fp-description">
        Enter your email address below and we'll send you a link to reset your password.
      </p>

      <form method="POST" class="fp-form" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="fp-button">Send Reset Email</button>
      </form>
    </div>
  </div>
</body>
</html>



