{% extends 'root.html' %}

{% block content %}
    <div class="profile-page">
        <div class="profile-form-content">
            <h1 class="profile-heading">Welcome to {{ user.username }}'s Profile</h1>

            <!-- Display the profile image -->
            <div class="profile-image-container">
                <img src="{% if profile.image %}{{ profile.image.url }}{% else %}/media/profile_pics/default.jpg{% endif %}" 
                     alt="{{ user.username }}'s Profile Picture" 
                     class="profile-image">
            </div>

            <h2 class="users-email">Email: {{user.email}}</h2>

            <p>Permissions: {{ user_role }}</p>

            {% if user_role == 'Admin' %}
                <a href="{% url 'adminpanel' %}" class="filled-button">Admin Page</a>
            {% endif %}

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <!-- Profile form -->
            <form method="POST" enctype="multipart/form-data" class="profile-form">
                {% csrf_token %}
                
                <div class="form-fields">
                    <div class="form-field">
                        {{ form.image.label }}
                        {{ form.image }}
                    </div>
                    <div class="form-field">
                        {{ form.bio.label }}
                        {{ form.bio }}
                    </div>
                </div>

                <button type="submit" class="save-button">Save Changes</button>
            </form>

            {% if user_role == 'Coach' %}
                {% if class_count == 1 %}
                    <h2>You have 1 class</h2>
                {% elif class_count > 1 %}
                    <h2>You have {{ class_count }} classes</h2>
                {% else %}
                    <h2>You have no classes</h2>
                {% endif %}

                

                
                {% if coach_classes %}
                    
                    <ul>
                        {% for class in coach_classes %}
                            <li>
                                <strong>Class Name: {{ class.name }}</strong>
                                <div class="class-image-container">
                                    {% if class.class_image %}
                                        <img src="{{ class.class_image.url }}" alt="{{ class.name }}'s Image" class="class-image">
                                    {% else %}
                                        <img src="/media/class_images/default.jpg" alt="Default Class Image" class="class-image">
                                    {% endif %}
                                </div>
                                <p>Description: {{class.description}}</p>
                            </li>
                            <a href="{% url 'edit_class' class.id %}" class="filled-button">Edit Details</a>
                        {% endfor %}

                        <a href="{% url 'create_class' %}" class="filled-button">Create Another Class</a>
                    </ul>
                {% else %}
                    
                    <a href="{% url 'create_class' %}" class="filled-button">Create One Now</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
