{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fontawsome.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.css' %}" />

    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images\Westletics.png' %}"
    />

    <title>{% block title %}{% endblock title %}</title>
  

    {% block content %}{% endblock content %}

    
    
  </body>
</html>
